
/8258_ble_sample/
/8278_ble_sample/
/825x_ble_remote/
/827x_ble_sample/

*.o
*.mk
*.a
*.bin
*.elf
tc_ble_single_sdk-V3.4.2.8_Patch_0001/tc_ble_single_sdk/vendor/ble_sample/BMSAssistant/.build
tc_ble_single_sdk-V3.4.2.8_Patch_0001/tc_ble_single_sdk/vendor/ble_sample/build_version_auto.h
tools/lan_clipboard_sync

ota-app/**/bin/
ota-app/**/obj/
.vs/
*.user
